<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
        </configSections>
        <connectionStrings>
                <add name="Cerberus_Network.Properties.Settings._01nConnectionString"
                        connectionString="Data Source=10.10.10.34;Initial Catalog=01n;Persist Security Info=True;User ID=hat_un;Password=AboveReproach1"
                        providerName="System.Data.SqlClient" />
        </connectionStrings>
        <startup>
            
        </startup>
</configuration>